.mainContent {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.genderRow {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

.genderItem {
  margin-left: 1rem;
  margin-right: 1rem;
}

.genderImage {
  width: 5rem;
  height: 5rem;
}

.continueBtn {
  margin-top: 20;
  horizontal-align: center;
}

@media (min-width: 800px) {
  .genderImage {
    width: 7rem;
    height: 7rem;
  }
}

@media (max-width: 480px) {
  .genderImage {
    width: 4rem;
    height: 4rem;
  }
}